curl -ksu "{{admin_user}}:{{admin_password}}" -XPOST -H "Accept: application/json" -H "Content-Type: application/json" -d @billing.json "{{root_url}}"/api/dashboards/import

curl -ksu "admin:"{{admin_password}}"" -XPOST -H "Accept: application/json" -H "Content-Type: application/json" -d @ec2.json "{{root_url}}"/api/dashboards/import
