curl -ksu "{{admin_user}}:{{admin_password}}" -XPOST -H "Accept: application/json" -H "Content-Type: application/json" -d '{"name":"{{datasource_name}}","type":"cloudwatch","jsonData":{"defaultRegion":"eu-west-2"},"access":"proxy"}' "{{root_url}}"/api/datasources
