curl -X POST \
-H 'Accept: application/json' \
-H 'Content-Type: application/json' \
-u '{{admin_user}}:{{admin_password}}' {{root_url}}/api/alert-notifications \
-d '{
  "name": "{{notify_name_email}}",
  "type":  "email",
  "isDefault": false,
  "sendReminder": false,
  "settings": {
    "addresses": "robert@automationlogic.com"
  }
}'
