curl -X PUT -H "Content-Type: application/json" -d '{
  "oldPassword": "{{admin_password}}",
  "newPassword": "{{newpassword}}",
  "confirmNew": "{{newpassword}}"
}' http://{{admin_user}}:{{admin_password}}@{{grafana_host}}/api/user/password
