curl -X POST \
-H 'Accept: application/json' \
-H 'Content-Type: application/json' \
-u '{{admin_user}}:{{admin_password}}' {{root_url}}/api/alert-notifications \
-d '{
  "name": "{{notify_name_slack}}",
  "type":  "slack",
  "isDefault": true,
  "sendReminder": false,
  "settings": {
    "url": "https://hooks.slack.com/services/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",
    "recipient": "#academy",
    "username": "banana bobby",
    "icon_url": "https://s3-us-west-2.amazonaws.com/slack-files2/bot_icons/2018-12-12/501811800452_48.png"
  }
}'
